<header>
    <mat-toolbar>
        <a>{{ title }}</a>
        <span class="spacer"></span>
        <mat-icon>balance</mat-icon>
        <a> {{ balance }} $</a>
        <button mat-stroked-button (click)="createNewCampaign()">
            <span class="icon-text">
                <mat-icon>add</mat-icon>
                @if (!isSmallWindow) { Add Campaign }
            </span>
        </button>
        <mat-slide-toggle
        (change)="onThemeChange($event.checked)">
        </mat-slide-toggle>        
    </mat-toolbar>
</header>