@use '../../styles/styles.scss' as main;

.banner {
    overflow: hidden;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: var(--mat-sys-level2);
    background-color: var(--mat-sys-primary-container);
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
        font-family: var(--mat-sys-title-small-font);
    }
}