<table mat-table cdkScrollable [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <ng-container matColumnDef="keywords">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Keywords </th>
        <td mat-cell *matCellDef="let row"> {{row.keywords}} </td>
    </ng-container>

    <ng-container matColumnDef="bidAmount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Min. Bid </th>
        <td mat-cell *matCellDef="let row"> {{row.bidAmount}} </td>
    </ng-container>

    <ng-container matColumnDef="fund">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fund </th>
        <td mat-cell *matCellDef="let row"> {{row.fund}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let row"> {{row.status}} </td>
    </ng-container>

    <ng-container matColumnDef="town">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Town </th>
        <td mat-cell *matCellDef="let row"> {{row.town}} </td>
    </ng-container>

    <ng-container matColumnDef="radius">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Radius </th>
        <td mat-cell *matCellDef="let row"> {{row.radius}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let row">
          <span (click)="openEditForm(row)" class="action-icon" style="margin-right: 5px;">
            <mat-icon color="primary">settings</mat-icon>
          </span>
          <span (click)="deleteCampaign(row.id)" class="action-icon">
            <mat-icon color="warn">delete_outline</mat-icon>
          </span>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>