@use '@angular/material' as mat;

html {
  color-scheme: light;
  @include mat.theme((
    color: mat.$violet-palette,
    typography: Roboto,
    density: 0
  ));
}

body {
  background-color: var(--mat-sys-surface-container-low);
}

body.dark-mode {
    color-scheme: dark;
}